@use "breakpoints";

.site-footer {
  margin-top: 3rem;
}

*[class^="site-footer__"] {
  & > .layout {
    display: grid;
    gap: 2rem 1rem;
    @include breakpoints.breakpoint {
      grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    }
  }
}

.site-footer__content {
  background: var(--color-blue-400);
  padding: 3rem 0;

  &,
  & * {
    color: var(--color-blue-100);
  }

  h2 {
    color: var(--color-blue-200);
    font: var(--bold) 14px var(--font-base-family);
    letter-spacing: 1.25px;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  .site-footer__content--library {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      align-items: baseline;
      display: flex;
      gap: 0 0.5rem;
    }
  }
}

.site-footer__disclaimer {
  background: var(--color-blue-500);
  color: var(--color-blue-200);
  padding: 1rem 0;

  a {
    color: var(--color-blue-200);
  }

  & > .layout {
    gap: 0 1rem;
  }
}
