<div class="owl narrow-content">
  <p>The University of Michigan Library is dedicated to creating inclusive services and products for all users. See more about our approach to <a href="https://www.lib.umich.edu/about-us/about-library/accessibility/digital-product-accessibility">digital product accessibility</a>, as well as our overall <a href="https://lib.umich.edu/about-us/about-library/accessibility">accessibility services</a> and practices at the U-M Library.</p>
  <h2>Standards and compliance</h2>
  <p>Our baseline accessibility target is to meet <a href="https://www.w3.org/TR/WCAG21/?utm_source=library-search">WCAG 2.1 AA standards</a>. The last accessibility evaluation for Library Account was in June 2023.</p>
  <p>The next scheduled accessibility evaluation for this product is in January 2027.</p>
  <h2>Feedback and support</h2>
  <p>We welcome your feedback and will do our best to resolve any issues promptly.</p>
  <p>If you encounter any accessibility issues while using this product or have questions, please contact us at <a href="mailto:design-discovery@umich.edu">design-discovery@umich.edu</a>.</p>
</div>
